table {
  background-color: gray;
  color: white;
  padding: 10px;
  border: 1px solid grey;
  margin: 0 auto;
}

head {
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

#main_header {
  text-align: center;
}
tr {
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
}

.no {
  margin: 0 auto;
}

body {background-color: grey;
margin: 0 auto;}

.dieRollable {
  background-color: white;
  margin: 0 auto;
}

.disabled {
  background-color: grey;
  margin: 0 auto;
}

input[type="text"]:disabled {
  background: #dddddd;
}


.no {
  background-color: red;
  margin: 0 auto;
}

.goodFeedback {
  background-color: green;
  margin: 0 auto;
}

.badFeedback {
  background-color: red;
  margin: 0 auto;
}
